h1{
    text-align: center;
    color: rgb(18, 18, 95);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgb(155, 41, 26);
}
h2{
    text-align: center;
    font-family: serif;
    font-size: 30px;
    text-decoration: underline;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
nav{
    float: right;
    display: block;
}
li{
    float: left;
}
li a{
    text-decoration: none;
    color: rgb(252, 252, 252);
    margin: 0px 0px 50px 50px;
    border-spacing: 5px;
    font-size: 20px;
    font-weight: bold;  
    line-height: 1.2; 
    font-family: sans-serif;
    cursor: pointer;
    transition: 0.5s;
}
li a:hover{
    color: red;
}
body{
    background-image: url(/TechyJ/yyuty.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
p{
    text-align: justify;
    font-family: sans-serif;
    line-height: 1.8;
    text-indent: 50px;
    letter-spacing: 2px;
}

#foot{
    align-content: center;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}
#conts{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    line-height: 1.9;
    padding: 12px;
    font-size: 16px;
}
.media{
    border-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    display: flex;
}
